In [5]:
# Data representation
students = [
    {"Name": "Evelyn", "Age": 17, "Height": 5.5, "Score": 80},
    {"Name": "Jessica", "Age": 16, "Height": 5.0, "Score": 85},
    {"Name": "Somto", "Age": 17, "Height": 4.5, "Score": 70},
    {"Name": "Edith", "Age": 18, "Height": 5.9, "Score": 76},
    {"Name": "Liza", "Age": 18, "Height": 5.5, "Score": 66},
    {"Name": "Madonna", "Age": 17, "Height": 5.1, "Score": 87},
    {"Name": "Waje", "Age": 20, "Height": 6.0, "Score": 95},
    {"Name": "Tola", "Age": 19, "Height": 5.6, "Score": 49},
    {"Name": "Aisha", "Age": 17, "Height": 5.7, "Score": 59},
    {"Name": "Latifa", "Age": 17, "Height": 5.5, "Score": 45},
    {"Name": "Chinedu", "Age": 19, "Height": 5.7, "Score": 74},
    {"Name": "Liam", "Age": 16, "Height": 5.9, "Score": 87},
    {"Name": "Wale", "Age": 18, "Height": 6.8, "Score": 75},
    {"Name": "Gbenga", "Age": 20, "Height": 1.9, "Score": 68},
    {"Name": "Abiola", "Age": 19, "Height": 5.5, "Score": 78},
    {"Name": "Kola", "Age": 16, "Height": 5.1, "Score": 54},
    {"Name": "Kunle", "Age": 18, "Height": 4.5, "Score": 80},
    {"Name": "George", "Age": 17, "Height": 5.8, "Score": 50},
    {"Name": "Thomas", "Age": 18, "Height": 5.7, "Score": 64},
    {"Name": "Wesley", "Age": 17, "Height": 5.0, "Score": 60}
]

# Display data in tabular format without using tabulate
def print_table(data):
    print(f"{'Name':<10} {'Age':<5} {'Height':<7} {'Score':<5}")
    print("-" * 30)
    for student in data:
        print(f"{student['Name']:<10} {student['Age']:<5} {student['Height']:<7} {student['Score']:<5}")

print_table(students)

Name       Age   Height  Score
------------------------------
Evelyn     17    5.5     80
Jessica    16    5.0     85
Somto      17    4.5     70
Edith      18    5.9     76
Liza       18    5.5     66
Madonna    17    5.1     87
Waje       20    6.0     95
Tola       19    5.6     49
Aisha      17    5.7     59
Latifa     17    5.5     45
Chinedu    19    5.7     74
Liam       16    5.9     87
Wale       18    6.8     75
Gbenga     20    1.9     68
Abiola     19    5.5     78
Kola       16    5.1     54
Kunle      18    4.5     80
George     17    5.8     50
Thomas     18    5.7     64
Wesley     17    5.0     60